<div class="text-center">
  <h1>{{titol}}</h1>
  <hr>
  <h3 class="text-secondary">{{subtitol}}</h3>
  <p>{{mail}}</p>
</div>

<div>
  <h3>Sobre el mòdul</h3>
  <hr>
  <h5>Uf3: Esdeveniments. Manejament de formularis. Model d'objectes del document</h5>
  <p>Durada: 42 hores Resultats d'aprenentat</p>
  <p class="fw-bold">1. Desenvolupa aplicacions web interactives integrant mecanismes de maneig d'Esdeveniments.</p>
  <p>Criteris d'avaluació 1.1 Reconeix les possibilitats del llenguatge de marques relatives a la captura dels
    esdeveniments produïts. 1.2 Identifica les característiques del llenguatge de programació relatives a la gestió dels
    esdeveniments. 1.3 Diferencia els tipus d'esdeveniments que es poden manejar. 1.4 Crea un codi que capturi i
    utilitzi esdeveniments. 1.5 Reconeix les capacitats del llenguatge relatives a la gestió de formularis web. 1.6
    Valida formularis web utilitzant esdeveniments. 1.7 Utilitza expressions regulars per facilitar els procediments de
    validació. 1.8 Prova i documenta el codi.</p>
  <p class="fw-bold">2. Desenvolupa aplicacions web analitzant i aplicant les característiques del model d'objectes del
    document</p>
  <p>Criteris d'avaluació 2.1 Reconeix el model d'objectes del document d'una pàgina web. 2.2 Identifica els objectes
    del model, les seves propietats i els seus mètodes. 2.3 Crea i verifica un codi que accedeixi a l'estructura del
    document. 2.4 Crea nous elements de l'estructura i en modifica elements ja existents. 2.5 Associa accions als
    esdeveniments de model. 2.6 Identifica les diferències que presenta el model en diferents navegadors. 2.7 Programa
    aplicacions web de manera que funcioni en navegadors amb diferents implementacions del Lorem ipsum dolor sit, amet
    consectetur adipisicing elit. Nisi, architecto eaque dignissimos reiciendis, illo hic voluptates eligendi eveniet,
    fugiat tempore aliquid voluptatum perspiciatis vero!</p>
</div>
