<div class="text-center">
  <h2>Inici</h2>
  <hr style="width:50vw; margin: auto;">
</div>
<div class="m-4 p-3">
  <h4 class="fw-bold">Benvingut al Projecte de Projectes®!</h4>
  <p class="fs-5 text">
    El Projecte de Projectes® és una eina web, amb la que podràs gestionar, eliminar o actualitzar els teus projectes de
    forma molt còmoda, ràpida i senzilla!
  </p>
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true">Les eines que oferim són les següents!</li>
    <li class="list-group-item">Veure els teus projectes amb una còmoda i bonica estructura.</li>
    <li class="list-group-item">Crear projectes amb un súper còmode formulari.</li>
    <li class="list-group-item">Veure en detall els teus projectes.</li>
    <li class="list-group-item">Editar els projectes.</li>
  </ul>
</div>
